[Desktop Entry]
Encoding=UTF-8
Name=Link to image
Type=Link
URL=https://private-user-images.githubusercontent.com/182321476/438538183-0f3e50aa-f58d-428b-8ad6-766b8abe1284.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTU4MzMwNDYsIm5iZiI6MTc1NTgzMjc0NiwicGF0aCI6Ii8xODIzMjE0NzYvNDM4NTM4MTgzLTBmM2U1MGFhLWY1OGQtNDI4Yi04YWQ2LTc2NmI4YWJlMTI4NC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwODIyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDgyMlQwMzE5MDZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT0xMDEzNWUzNDEyNzg3NjEyNTEzOTdkMzg4YzYyZDFmZTJiMmFjOTI1ZjgwNzllOTY1NTBjNTZmMmFhMWU0MDdmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.EpeEaGdBa39De6U2r5yHYS1OqWRdqXwM1AAWdc7Qxoo
Icon=mate-fs-bookmark
