[Desktop Entry]
Encoding=UTF-8
Name=Link to image
Type=Link
URL=https://private-user-images.githubusercontent.com/182321476/438538070-4666c592-6467-475a-8616-60f313df2938.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTU4MzMwNDYsIm5iZiI6MTc1NTgzMjc0NiwicGF0aCI6Ii8xODIzMjE0NzYvNDM4NTM4MDcwLTQ2NjZjNTkyLTY0NjctNDc1YS04NjE2LTYwZjMxM2RmMjkzOC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwODIyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDgyMlQwMzE5MDZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1iNjMzZjAxMzRhNWI3MjYxODY1ODkwOWVhYzc1NWU1ZmZlMDc5OTVlNGZkODY5ZmQ3MjI0ZDFhMTg3MzczMTgwJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.rrJiFLrGQYB4cdJund6Yf9UBuP6B89mAszWMk2rP2rA
Icon=mate-fs-bookmark
